type sysfs_macloader, fs_type, sysfs_type;

type firmware_mfc, file_type;
type firmware_exynos, file_type;

# Persist file types
type persist_file, file_type;
type persist_data_file, file_type;
type persist_drm_file, file_type;

