## RIL
allow rild radio_device:chr_file rw_file_perms;
allow rild efs_file:file rw_file_perms;
allow rild efs_block_device:blk_file rw_file_perms;
allow rild self:netlink_socket { create bind read write };
allow rild self:netlink_route_socket { write };
allow rild self:netlink_kobject_uevent_socket { create bind read write setopt };

allow rild init:file { r_file_perms };
allow rild init:dir { r_dir_perms };
allow rild block_device:dir { r_dir_perms };
allow rild gpsd:file { r_file_perms };
allow rild gpsd:dir { r_dir_perms };
allow rild mediaserver:file { r_file_perms };
allow rild mediaserver:dir { r_dir_perms };
allow rild proc_net:file { rw_file_perms };

# Talk to qmuxd
allow rild qmuxd_socket:dir { write remove_name search add_name };
allow rild qmuxd_socket:sock_file { write create unlink setattr };
allow rild qmuxd:unix_stream_socket connectto;
qmux_socket(rild);
binder_use(rild)

allow rild ssr_device:chr_file { open read };
allow rild sysfs_esoc:dir { search read open};
allow rild sysfs_esoc:lnk_file { read };
allow rild sysfs_esoc:file { write };
allow rild sysfs_ssr:dir { open search read };
allow rild sysfs_ssr:lnk_file { read open };

allow rild mediaserver:binder { transfer call };

#allow rild diag_device:chr_file { open read write };
allow rild rild_socket:chr_file { open read write };

allow rild system_data_file:dir w_dir_perms;
#allow rild system_data_file:file create_file_perms;
#allow rild time_daemon:unix_stream_socket connectto;
allow rild system_file:file { execmod };

allow rild rild:process execmem;
allow rild diagnostic_device:chr_file { read write open };
allow rild radio_data_file:dir { setattr create_dir_perms };
allow rild init:unix_stream_socket { read write };
allow rild proc_net:file { write };

allow rild log_device:chr_file { open };
allow rild log_device:chr_file write;
allow rild log_device:dir { search };
allow rild self:capability dac_override;

allow rild unlabeled:dir { search };
allow rild unlabeled:file { open read getattr };

allow rild at_distributor:dir { search };
allow rild at_distributor:file { read open getattr };

# XXX label with own type?
allow rild sysfs:file { read open write getattr };

