type SMD-daemon, domain;
permissive SMD-daemon;
type SMD-daemon_exec, exec_type, file_type;

allow SMD-daemon system_file:file { execute_no_trans };
allow SMD-daemon self:capability { setuid };
allow SMD-daemon SMD-daemon_exec:file { entrypoint read };
