# macloader
type macloader, domain;
type macloader_exec, exec_type, file_type;

init_daemon_domain(macloader)

allow macloader self:capability { chown fowner dac_override };
allow macloader efs_file:dir { r_dir_perms };
allow macloader wifi_data_file:file { r_file_perms };
allow macloader system_data_file:file { create_file_perms };
allow macloader system_data_file:dir { rw_dir_perms };
