# qmiproxy
type qmiproxy, domain;
type qmiproxy_exec, exec_type, file_type;

init_daemon_domain(qmiproxy)
unix_socket_connect(qmiproxy, property, init)
unix_socket_connect(qmiproxy, qmuxd, init)

allow qmiproxy diagnostic_device:chr_file { rw_file_perms };
allow qmiproxy radio_prop:property_service { set };
allow qmiproxy qmuxd_socket:dir { rw_dir_perms };
allow qmiproxy qmuxd_socket:sock_file { create setattr getattr unlink };
