allow sysinit firmware_camera:file { create_file_perms };
allow sysinit firmware_camera:dir { rw_dir_perms };
allow sysinit self:capability { chown fowner fsetid };
